<a href="https://colab.research.google.com/github/Subhas333/Project-1/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [182]:
import pandas as pd
import numpy as np

# Creating datafrane from an array

## option 1 array

In [183]:
data = np.array([[1,4],[2,5],[4,5]])

In [184]:
pd.DataFrame(data)

   0  1
0  1  4
1  2  5
2  4  5

In [185]:
df =pd.DataFrame(data,index = ['row1','row2','rpw3'],
                 columns=['col1','col2'])

In [186]:
df

      col1  col2
row1     1     4
row2     2     5
rpw3     4     5


## create array with list

In [187]:
data = [1,4],[2,5],[4,5]
df =pd.DataFrame(data,index = ['row1','row2','rpw3'],
                 columns=['col1','col2'])
df

      col1  col2
row1     1     4
row2     2     5
rpw3     4     5

# 2. create dataframe with dictionary

In [188]:
states =['california','kathmandu','new york']
population=[2345,1223,12256]

###storing list in dictionary

In [189]:
dict_states ={'states':states,'population':population}

###dataframe create

In [190]:
df_population=pd.DataFrame(dict_states)

In [191]:
df_population

       states  population
0  california        2345
1   kathmandu        1223
2    new york       12256

#3 Creating dataframe with csv file

In [192]:

df_exams= pd.read_csv('/StudentsPerformance.csv')

In [193]:
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [194]:
import kagglehub
path = kagglehub.dataset_download("mlg-ulb/creditcardfraud")

Using Colab cache for faster access to the 'creditcardfraud' dataset.

In [195]:
import os
dfab=pd.read_csv(os.path.join(path, 'creditcard.csv'))

In [196]:
dfab.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

# showing limited sets of rows

In [197]:
df_exams.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [198]:
df_exams.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [199]:
df_exams.shape

(1000, 8)

In [200]:
pd.set_option('display.max_rows',1000)

In [201]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
30,female,group D,some college,standard,none,69,74,74
31,female,group B,some college,standard,none,63,65,61
32,female,group E,master's degree,free/reduced,none,56,72,65
33,male,group D,some college,standard,none,40,42,38
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
36,female,group D,associate's degree,standard,none,74,81,83
37,female,group D,some high school,free/reduced,none,50,64,59
38,female,group D,associate's degree,free/reduced,completed,75,90,88
39,male,group B,associate's degree,free/reduced,none,57,56,57
40,male,group C,associate's degree,free/reduced,none,55,61,54
41,female,group C,associate's degree,standard,none,58,73,68
42,female,group B,associate's degree,standard,none,53,58,65
43,male,group B,some college,free/reduced,completed,59,65,66
44,female,group E,associate's degree,free/reduced,none,50,56,54
45,male,group B,associate's degree,standard,none,65,54,57
46,female,group A,associate's degree,standard,completed,55,65,62
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
49,male,group C,high school,standard,completed,82,84,82
50,male,group E,some college,standard,none,53,55,48
51,male,group E,associate's degree,free/reduced,completed,77,69,68
52,male,group C,some college,standard,none,53,44,42
53,male,group D,high school,standard,none,88,78,75
54,female,group C,some high school,free/reduced,completed,71,84,87
55,female,group C,high school,free/reduced,none,33,41,43
56,female,group E,associate's degree,standard,completed,82,85,86
57,male,group D,associate's degree,standard,none,52,55,49
58,male,group D,some college,standard,completed,58,59,58
59,female,group C,some high school,free/reduced,none,0,17,10
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
61,male,group A,some high school,free/reduced,none,39,39,34
62,male,group A,associate's degree,free/reduced,none,62,61,55
63,female,group C,associate's degree,standard,none,69,80,71
64,female,group D,some high school,standard,none,59,58,59
65,male,group B,some high school,standard,none,67,64,61
66,male,group D,some high school,free/reduced,none,45,37,37
67,female,group C,some college,standard,none,60,72,74
68,male,group B,associate's degree,free/reduced,none,61,58,56
69,female,group C,associate's degree,standard,none,39,64,57
70,female,group D,some college,free/reduced,completed,58,63,73
71,male,group D,some college,standard,completed,63,55,63
72,female,group A,associate's degree,free/reduced,none,41,51,48
73,male,group C,some high school,free/reduced,none,61,57,56
74,male,group C,some high school,standard,none,49,49,41
75,male,group B,associate's degree,free/reduced,none,44,41,38
76,male,group E,some high school,standard,none,30,26,22
77,male,group A,bachelor's degree,standard,completed,80,78,81
78,female,group D,some high school,standard,completed,61,74,72
79,female,group E,master's degree,standard,none,62,68,68
80,female,group B,associate's degree,standard,none,47,49,50
81,male,group B,high school,free/reduced,none,49,45,45
82,male,group A,some college,free/reduced,completed,50,47,54
83,male,group E,associate's degree,standard,none,72,64,63
84,male,group D,high school,free/reduced,none,42,39,34
85,female,group C,some college,standard,none,73,80,82
86,female,group C,some college,free/reduced,none,76,83,88
87,female,group D,associate's degree,standard,none,71,71,74
88,female,group A,some college,standard,none,58,70,67
89,female,group D,some high school,standard,none,73,86,82
90,female,group C,bachelor's degree,standard,none,65,72,74
91,male,group C,high school,free/reduced,none,27,34,36
92,male,group C,high school,standard,none,71,79,71
93,male,group C,associate's degree,free/reduced,completed,43,45,50
94,female,group B,some college,standard,none,79,86,92
95,male,group C,associate's degree,free/reduced,completed,78,81,82
96,male,group B,some high school,standard,completed,65,66,62
97,female,group E,some college,standard,completed,63,72,70
98,female,group D,some college,free/reduced,none,58,67,62
99,female,group D,bachelor's degree,standard,none,65,67,62
100,male,group B,some college,standard,none,79,67,67
101,male,group D,bachelor's degree,standard,completed,68,74,74
102,female,group D,associate's degree,standard,none,85,91,89
103,male,group B,high school,standard,completed,60,44,47
104,male,group C,some college,standard,completed,98,86,90
105,female,group C,some college,standard,none,58,67,72
106,female,group D,master's degree,standard,none,87,100,100
107,male,group E,associate's degree,standard,completed,66,63,64
108,female,group B,associate's degree,free/reduced,none,52,76,70
109,female,group B,some high school,standard,none,70,64,72
110,female,group D,associate's degree,free/reduced,completed,77,89,98
111,male,group C,high school,standard,none,62,55,49
112,male,group A,associate's degree,standard,none,54,53,47
113,female,group D,some college,standard,none,51,58,54
114,female,group E,bachelor's degree,standard,completed,99,100,100
115,male,group C,high school,standard,none,84,77,74
116,female,group B,bachelor's degree,free/reduced,none,75,85,82
117,female,group D,bachelor's degree,standard,none,78,82,79
118,female,group D,some high school,standard,none,51,63,61
119,female,group C,some college,standard,none,55,69,65
120,female,group C,bachelor's degree,standard,completed,79,92,89
121,male,group B,associate's degree,standard,completed,91,89,92
122,female,group C,some college,standard,completed,88,93,93
123,male,group D,high school,free/reduced,none,63,57,56
124,male,group E,some college,standard,none,83,80,73
125,female,group B,high school,standard,none,87,95,86
126,male,group B,some high school,standard,none,72,68,67
127,male,group D,some college,standard,completed,65,77,74
128,male,group D,master's degree,standard,none,82,82,74
129,female,group A,bachelor's degree,standard,none,51,49,51
130,male,group D,master's degree,standard,none,89,84,82
131,male,group C,some high school,free/reduced,completed,53,37,40
132,male,group E,some college,free/reduced,completed,87,74,70
133,female,group C,some college,standard,completed,75,81,84
134,male,group D,bachelor's degree,free/reduced,completed,74,79,75
135,male,group C,bachelor's degree,standard,none,58,55,48
136,male,group B,some high school,standard,completed,51,54,41
137,male,group E,high school,standard,none,70,55,56
138,female,group C,associate's degree,standard,none,59,66,67
139,male,group D,some college,standard,completed,71,61,69
140,female,group D,some high school,standard,none,76,72,71
141,female,group C,some college,free/reduced,none,59,62,64
142,female,group E,some college,free/reduced,completed,42,55,54
143,male,group A,high school,standard,none,57,43,47
144,male,group D,some college,standard,none,88,73,78
145,female,group C,some college,free/reduced,none,22,39,33
146,male,group B,some high school,standard,none,88,84,75
147,male,group C,associate's degree,free/reduced,none,73,68,66
148,female,group D,bachelor's degree,standard,completed,68,75,81
149,male,group E,associate's degree,free/reduced,completed,100,100,93
150,male,group A,some high school,standard,completed,62,67,69
151,male,group A,bachelor's degree,standard,none,77,67,68
152,female,group B,associate's degree,standard,completed,59,70,66
153,male,group D,bachelor's degree,standard,none,54,49,47
154,male,group D,some high school,standard,none,62,67,61
155,female,group C,some college,standard,completed,70,89,88
156,female,group E,high school,free/reduced,completed,66,74,78
157,male,group B,some college,free/reduced,none,60,60,60
158,female,group B,associate's degree,standard,completed,61,86,87
159,male,group D,associate's degree,free/reduced,none,66,62,64
160,male,group B,associate's degree,free/reduced,completed,82,78,74
161,female,group E,some college,free/reduced,completed,75,88,85
162,male,group B,master's degree,free/reduced,none,49,53,52
163,male,group C,high school,standard,none,52,53,49
164,female,group E,master's degree,standard,none,81,92,91
165,female,group C,bachelor's degree,standard,completed,96,100,100
166,male,group C,high school,free/reduced,completed,53,51,51
167,female,group B,master's degree,free/reduced,completed,58,76,78
168,female,group B,high school,standard,completed,68,83,78
169,female,group C,some college,free/reduced,completed,67,75,70
170,male,group A,high school,standard,completed,72,73,74
171,male,group E,some high school,standard,none,94,88,78
172,female,group D,some college,standard,none,79,86,81
173,female,group C,associate's degree,standard,none,63,67,70
174,female,group C,bachelor's degree,free/reduced,completed,43,51,54
175,female,group C,master's degree,standard,completed,81,91,87
176,female,group B,high school,free/reduced,completed,46,54,58
177,female,group C,associate's degree,standard,completed,71,77,77
178,female,group B,master's degree,free/reduced,completed,52,70,62
179,female,group D,some high school,standard,completed,97,100,100
180,male,group C,master's degree,free/reduced,completed,62,68,75
181,female,group C,some college,free/reduced,none,46,64,66
182,female,group E,high school,standard,none,50,50,47
183,female,group D,associate's degree,standard,none,65,69,70
184,male,group C,some high school,free/reduced,completed,45,52,49
185,male,group C,associate's degree,free/reduced,completed,65,67,65
186,male,group E,high school,standard,none,80,76,65
187,male,group D,some high school,standard,completed,62,66,68
188,male,group B,some high school,free/reduced,none,48,52,45
189,female,group C,bachelor's degree,standard,none,77,88,87
190,female,group E,associate's degree,standard,none,66,65,69
191,male,group D,some college,standard,completed,76,83,79
192,female,group B,some high school,standard,none,62,64,66
193,male,group D,some college,standard,completed,77,62,62
194,female,group C,master's degree,standard,completed,69,84,85
195,male,group D,associate's degree,standard,none,61,55,52
196,male,group C,some high school,free/reduced,completed,59,69,65
197,male,group E,high school,free/reduced,none,55,56,51
198,female,group B,some college,free/reduced,none,45,53,55
199,female,group B,bachelor's degree,free/reduced,none,78,79,76
200,female,group C,associate's degree,standard,completed,67,84,86
201,female,group D,some college,free/reduced,none,65,81,77
202,male,group C,associate's degree,standard,none,69,77,69
203,female,group B,associate's degree,standard,none,57,69,68
204,male,group C,some college,standard,none,59,41,42
205,male,group D,some high school,standard,completed,74,71,78
206,male,group E,bachelor's degree,standard,none,82,62,62
207,male,group E,high school,standard,completed,81,80,76
208,female,group B,some college,free/reduced,none,74,81,76
209,female,group B,some college,free/reduced,none,58,61,66
210,male,group D,some high school,free/reduced,completed,80,79,79
211,male,group C,some college,free/reduced,none,35,28,27
212,female,group C,high school,free/reduced,none,42,62,60
213,male,group C,associate's degree,free/reduced,completed,60,51,56
214,male,group E,high school,standard,completed,87,91,81
215,male,group B,some high school,standard,completed,84,83,75
216,female,group E,associate's degree,free/reduced,completed,83,86,88
217,female,group C,high school,free/reduced,none,34,42,39
218,male,group B,high school,free/reduced,none,66,77,70
219,male,group B,some high school,standard,completed,61,56,56
220,female,group D,high school,standard,completed,56,68,74
221,male,group B,associate's degree,standard,none,87,85,73
222,female,group C,some high school,free/reduced,none,55,65,62
223,male,group D,some high school,standard,none,86,80,75
224,female,group B,associate's degree,standard,completed,52,66,73
225,female,group E,master's degree,free/reduced,none,45,56,54
226,female,group C,some college,standard,none,72,72,71
227,male,group D,high school,standard,none,57,50,54
228,male,group A,some high school,free/reduced,none,68,72,64
229,female,group C,some college,standard,completed,88,95,94
230,male,group D,some college,standard,none,76,64,66
231,male,group C,associate's degree,standard,none,46,43,42
232,female,group B,bachelor's degree,standard,none,67,86,83
233,male,group E,some high school,standard,none,92,87,78
234,male,group C,bachelor's degree,standard,completed,83,82,84
235,male,group D,associate's degree,standard,none,80,75,77
236,male,group D,bachelor's degree,free/reduced,none,63,66,67
237,female,group D,some high school,standard,completed,64,60,74
238,male,group B,some college,standard,none,54,52,51
239,male,group C,associate's degree,standard,none,84,80,80
240,male,group D,high school,free/reduced,completed,73,68,66
241,female,group E,bachelor's degree,standard,none,80,83,83
242,female,group D,high school,standard,none,56,52,55
243,male,group E,some college,standard,none,59,51,43
244,male,group D,some high school,standard,none,75,74,69
245,male,group C,associate's degree,standard,none,85,76,71
246,male,group E,associate's degree,standard,none,89,76,74
247,female,group B,high school,standard,completed,58,70,68
248,female,group B,high school,standard,none,65,64,62
249,male,group C,high school,standard,none,68,60,53
250,male,group A,some high school,standard,completed,47,49,49
251,female,group D,some college,free/reduced,none,71,83,83
252,female,group B,some high school,standard,completed,60,70,70
253,male,group D,master's degree,standard,none,80,80,72
254,male,group D,high school,standard,none,54,52,52
255,female,group E,some college,standard,none,62,73,70
256,female,group C,associate's degree,free/reduced,none,64,73,68
257,male,group C,associate's degree,standard,completed,78,77,77
258,female,group B,some college,standard,none,70,75,78
259,female,group C,master's degree,free/reduced,completed,65,81,81
260,female,group C,some high school,free/reduced,completed,64,79,77
261,male,group C,some college,standard,completed,79,79,78
262,female,group C,some high school,free/reduced,none,44,50,51
263,female,group E,high school,standard,none,99,93,90
264,male,group D,high school,standard,none,76,73,68
265,male,group D,some high school,free/reduced,none,59,42,41
266,female,group C,bachelor's degree,standard,none,63,75,81
267,female,group D,high school,standard,none,69,72,77
268,female,group D,associate's degree,standard,completed,88,92,95
269,female,group E,some college,free/reduced,none,71,76,70
270,male,group C,bachelor's degree,standard,none,69,63,61
271,male,group C,some college,standard,none,58,49,42
272,female,group D,associate's degree,free/reduced,none,47,53,58
273,female,group D,some college,standard,none,65,70,71
274,male,group B,some college,standard,completed,88,85,76
275,male,group C,bachelor's degree,standard,none,83,78,73
276,female,group C,some high school,standard,completed,85,92,93
277,female,group E,high school,standard,completed,59,63,75
278,female,group C,some high school,free/reduced,none,65,86,80
279,male,group B,bachelor's degree,free/reduced,none,73,56,57
280,male,group D,high school,standard,none,53,52,42
281,male,group D,high school,standard,none,45,48,46
282,female,group D,bachelor's degree,free/reduced,none,73,79,84
283,female,group D,some college,free/reduced,completed,70,78,78
284,female,group B,some high school,standard,none,37,46,46
285,male,group B,associate's degree,standard,completed,81,82,82
286,male,group E,associate's degree,standard,completed,97,82,88
287,female,group B,some high school,standard,none,67,89,82
288,male,group B,bachelor's degree,free/reduced,none,88,75,76
289,male,group E,some high school,standard,completed,77,76,77
290,male,group C,associate's degree,standard,none,76,70,68
291,male,group D,some high school,standard,none,86,73,70
292,male,group C,some high school,standard,completed,63,60,57
293,female,group E,bachelor's degree,standard,none,65,73,75
294,male,group D,high school,free/reduced,completed,78,77,80
295,male,group B,associate's degree,free/reduced,none,67,62,60
296,male,group A,some high school,standard,completed,46,41,43
297,male,group E,associate's degree,standard,completed,71,74,68
298,male,group C,high school,free/reduced,completed,40,46,50
299,male,group D,associate's degree,free/reduced,none,90,87,75
300,male,group A,some college,free/reduced,completed,81,78,81
301,male,group D,some high school,free/reduced,none,56,54,52
302,female,group C,associate's degree,standard,completed,67,84,81
303,male,group B,associate's degree,standard,none,80,76,64
304,female,group C,associate's degree,standard,completed,74,75,83
305,male,group A,some college,standard,none,69,67,69
306,male,group E,some college,standard,completed,99,87,81
307,male,group C,some high school,standard,none,51,52,44
308,female,group B,associate's degree,free/reduced,none,53,71,67
309,female,group D,high school,free/reduced,none,49,57,52
310,female,group B,associate's degree,standard,none,73,76,80
311,male,group B,bachelor's degree,standard,none,66,60,57
312,male,group D,bachelor's degree,standard,completed,67,61,68
313,female,group C,associate's degree,free/reduced,completed,68,67,69
314,female,group C,bachelor's degree,standard,completed,59,64,75
315,male,group C,high school,standard,none,71,66,65
316,female,group D,master's degree,standard,completed,77,82,91
317,male,group C,associate's degree,standard,none,83,72,78
318,male,group B,bachelor's degree,standard,none,63,71,69
319,female,group D,associate's degree,free/reduced,none,56,65,63
320,female,group C,high school,free/reduced,completed,67,79,84
321,female,group E,high school,standard,none,75,86,79
322,female,group C,some college,standard,none,71,81,80
323,female,group C,some high school,free/reduced,none,43,53,53
324,female,group C,high school,free/reduced,none,41,46,43
325,female,group C,some college,standard,none,82,90,94
326,male,group C,some college,standard,none,61,61,62
327,male,group A,some college,free/reduced,none,28,23,19
328,male,group C,associate's degree,standard,completed,82,75,77
329,female,group B,some high school,standard,none,41,55,51
330,male,group C,high school,standard,none,71,60,61
331,male,group C,associate's degree,standard,none,47,37,35
332,male,group E,associate's degree,standard,completed,62,56,53

In [202]:
df_exams.iloc[200:301]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
200,female,group C,associate's degree,standard,completed,67,84,86
201,female,group D,some college,free/reduced,none,65,81,77
202,male,group C,associate's degree,standard,none,69,77,69
203,female,group B,associate's degree,standard,none,57,69,68
204,male,group C,some college,standard,none,59,41,42
205,male,group D,some high school,standard,completed,74,71,78
206,male,group E,bachelor's degree,standard,none,82,62,62
207,male,group E,high school,standard,completed,81,80,76
208,female,group B,some college,free/reduced,none,74,81,76
209,female,group B,some college,free/reduced,none,58,61,66
210,male,group D,some high school,free/reduced,completed,80,79,79
211,male,group C,some college,free/reduced,none,35,28,27
212,female,group C,high school,free/reduced,none,42,62,60
213,male,group C,associate's degree,free/reduced,completed,60,51,56
214,male,group E,high school,standard,completed,87,91,81
215,male,group B,some high school,standard,completed,84,83,75
216,female,group E,associate's degree,free/reduced,completed,83,86,88
217,female,group C,high school,free/reduced,none,34,42,39
218,male,group B,high school,free/reduced,none,66,77,70
219,male,group B,some high school,standard,completed,61,56,56
220,female,group D,high school,standard,completed,56,68,74
221,male,group B,associate's degree,standard,none,87,85,73
222,female,group C,some high school,free/reduced,none,55,65,62
223,male,group D,some high school,standard,none,86,80,75
224,female,group B,associate's degree,standard,completed,52,66,73
225,female,group E,master's degree,free/reduced,none,45,56,54
226,female,group C,some college,standard,none,72,72,71
227,male,group D,high school,standard,none,57,50,54
228,male,group A,some high school,free/reduced,none,68,72,64
229,female,group C,some college,standard,completed,88,95,94
230,male,group D,some college,standard,none,76,64,66
231,male,group C,associate's degree,standard,none,46,43,42
232,female,group B,bachelor's degree,standard,none,67,86,83
233,male,group E,some high school,standard,none,92,87,78
234,male,group C,bachelor's degree,standard,completed,83,82,84
235,male,group D,associate's degree,standard,none,80,75,77
236,male,group D,bachelor's degree,free/reduced,none,63,66,67
237,female,group D,some high school,standard,completed,64,60,74
238,male,group B,some college,standard,none,54,52,51
239,male,group C,associate's degree,standard,none,84,80,80
240,male,group D,high school,free/reduced,completed,73,68,66
241,female,group E,bachelor's degree,standard,none,80,83,83
242,female,group D,high school,standard,none,56,52,55
243,male,group E,some college,standard,none,59,51,43
244,male,group D,some high school,standard,none,75,74,69
245,male,group C,associate's degree,standard,none,85,76,71
246,male,group E,associate's degree,standard,none,89,76,74
247,female,group B,high school,standard,completed,58,70,68
248,female,group B,high school,standard,none,65,64,62
249,male,group C,high school,standard,none,68,60,53
250,male,group A,some high school,standard,completed,47,49,49
251,female,group D,some college,free/reduced,none,71,83,83
252,female,group B,some high school,standard,completed,60,70,70
253,male,group D,master's degree,standard,none,80,80,72
254,male,group D,high school,standard,none,54,52,52
255,female,group E,some college,standard,none,62,73,70
256,female,group C,associate's degree,free/reduced,none,64,73,68
257,male,group C,associate's degree,standard,completed,78,77,77
258,female,group B,some college,standard,none,70,75,78
259,female,group C,master's degree,free/reduced,completed,65,81,81
260,female,group C,some high school,free/reduced,completed,64,79,77
261,male,group C,some college,standard,completed,79,79,78
262,female,group C,some high school,free/reduced,none,44,50,51
263,female,group E,high school,standard,none,99,93,90
264,male,group D,high school,standard,none,76,73,68
265,male,group D,some high school,free/reduced,none,59,42,41
266,female,group C,bachelor's degree,standard,none,63,75,81
267,female,group D,high school,standard,none,69,72,77
268,female,group D,associate's degree,standard,completed,88,92,95
269,female,group E,some college,free/reduced,none,71,76,70
270,male,group C,bachelor's degree,standard,none,69,63,61
271,male,group C,some college,standard,none,58,49,42
272,female,group D,associate's degree,free/reduced,none,47,53,58
273,female,group D,some college,standard,none,65,70,71
274,male,group B,some college,standard,completed,88,85,76
275,male,group C,bachelor's degree,standard,none,83,78,73
276,female,group C,some high school,standard,completed,85,92,93
277,female,group E,high school,standard,completed,59,63,75
278,female,group C,some high school,free/reduced,none,65,86,80
279,male,group B,bachelor's degree,free/reduced,none,73,56,57
280,male,group D,high school,standard,none,53,52,42
281,male,group D,high school,standard,none,45,48,46
282,female,group D,bachelor's degree,free/reduced,none,73,79,84
283,female,group D,some college,free/reduced,completed,70,78,78
284,female,group B,some high school,standard,none,37,46,46
285,male,group B,associate's degree,standard,completed,81,82,82
286,male,group E,associate's degree,standard,completed,97,82,88
287,female,group B,some high school,standard,none,67,89,82
288,male,group B,bachelor's degree,free/reduced,none,88,75,76
289,male,group E,some high school,standard,completed,77,76,77
290,male,group C,associate's degree,standard,none,76,70,68
291,male,group D,some high school,standard,none,86,73,70
292,male,group C,some high school,standard,completed,63,60,57
293,female,group E,bachelor's degree,standard,none,65,73,75
294,male,group D,high school,free/reduced,completed,78,77,80
295,male,group B,associate's degree,free/reduced,none,67,62,60
296,male,group A,some high school,standard,completed,46,41,43
297,male,group E,associate's degree,standard,completed,71,74,68
298,male,group C,high school,free/reduced,completed,40,46,50
299,male,group D,associate's degree,free/reduced,none,90,87,75
300,male,group A,some college,free/reduced,completed,81,78,81

In [203]:
df_exams.iloc[24:30,:2]

    gender race/ethnicity
24    male        group D
25    male        group A
26    male        group B
27  female        group C
28    male        group C
29  female        group D

In [204]:
df_exams.iloc[24:30,:6]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score
24,male,group D,bachelor's degree,free/reduced,completed,74
25,male,group A,master's degree,free/reduced,none,73
26,male,group B,some college,standard,none,69
27,female,group C,bachelor's degree,standard,none,67
28,male,group C,high school,standard,none,70
29,female,group D,master's degree,standard,none,62

In [205]:
df_exams.loc[244:300]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
244,male,group D,some high school,standard,none,75,74,69
245,male,group C,associate's degree,standard,none,85,76,71
246,male,group E,associate's degree,standard,none,89,76,74
247,female,group B,high school,standard,completed,58,70,68
248,female,group B,high school,standard,none,65,64,62
249,male,group C,high school,standard,none,68,60,53
250,male,group A,some high school,standard,completed,47,49,49
251,female,group D,some college,free/reduced,none,71,83,83
252,female,group B,some high school,standard,completed,60,70,70
253,male,group D,master's degree,standard,none,80,80,72
254,male,group D,high school,standard,none,54,52,52
255,female,group E,some college,standard,none,62,73,70
256,female,group C,associate's degree,free/reduced,none,64,73,68
257,male,group C,associate's degree,standard,completed,78,77,77
258,female,group B,some college,standard,none,70,75,78
259,female,group C,master's degree,free/reduced,completed,65,81,81
260,female,group C,some high school,free/reduced,completed,64,79,77
261,male,group C,some college,standard,completed,79,79,78
262,female,group C,some high school,free/reduced,none,44,50,51
263,female,group E,high school,standard,none,99,93,90
264,male,group D,high school,standard,none,76,73,68
265,male,group D,some high school,free/reduced,none,59,42,41
266,female,group C,bachelor's degree,standard,none,63,75,81
267,female,group D,high school,standard,none,69,72,77
268,female,group D,associate's degree,standard,completed,88,92,95
269,female,group E,some college,free/reduced,none,71,76,70
270,male,group C,bachelor's degree,standard,none,69,63,61
271,male,group C,some college,standard,none,58,49,42
272,female,group D,associate's degree,free/reduced,none,47,53,58
273,female,group D,some college,standard,none,65,70,71
274,male,group B,some college,standard,completed,88,85,76
275,male,group C,bachelor's degree,standard,none,83,78,73
276,female,group C,some high school,standard,completed,85,92,93
277,female,group E,high school,standard,completed,59,63,75
278,female,group C,some high school,free/reduced,none,65,86,80
279,male,group B,bachelor's degree,free/reduced,none,73,56,57
280,male,group D,high school,standard,none,53,52,42
281,male,group D,high school,standard,none,45,48,46
282,female,group D,bachelor's degree,free/reduced,none,73,79,84
283,female,group D,some college,free/reduced,completed,70,78,78
284,female,group B,some high school,standard,none,37,46,46
285,male,group B,associate's degree,standard,completed,81,82,82
286,male,group E,associate's degree,standard,completed,97,82,88
287,female,group B,some high school,standard,none,67,89,82
288,male,group B,bachelor's degree,free/reduced,none,88,75,76
289,male,group E,some high school,standard,completed,77,76,77
290,male,group C,associate's degree,standard,none,76,70,68
291,male,group D,some high school,standard,none,86,73,70
292,male,group C,some high school,standard,completed,63,60,57
293,female,group E,bachelor's degree,standard,none,65,73,75
294,male,group D,high school,free/reduced,completed,78,77,80
295,male,group B,associate's degree,free/reduced,none,67,62,60
296,male,group A,some high school,standard,completed,46,41,43
297,male,group E,associate's degree,standard,completed,71,74,68
298,male,group C,high school,free/reduced,completed,40,46,50
299,male,group D,associate's degree,free/reduced,none,90,87,75
300,male,group A,some college,free/reduced,completed,81,78,81

# atrributes
A value associated with object(reference by name using dotted )\
df.columns

In [206]:
df_exams.index #index access

RangeIndex(start=0, stop=1000, step=1)

In [207]:
# access to column attributes
df_exams.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [208]:
df_exams.dtypes #columns types

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

#methods are
1.head \
2.info etc

In [209]:
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [210]:
df_exams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [211]:
df_exams.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

# functions

In [212]:
len(df_exams)

1000

In [213]:
max(df_exams.index)

999

In [214]:
type(df_exams)

pandas.core.frame.DataFrame

roundoff in dataset

In [215]:
round(df_exams, 2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
30,female,group D,some college,standard,none,69,74,74
31,female,group B,some college,standard,none,63,65,61
32,female,group E,master's degree,free/reduced,none,56,72,65
33,male,group D,some college,standard,none,40,42,38
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
36,female,group D,associate's degree,standard,none,74,81,83
37,female,group D,some high school,free/reduced,none,50,64,59
38,female,group D,associate's degree,free/reduced,completed,75,90,88
39,male,group B,associate's degree,free/reduced,none,57,56,57
40,male,group C,associate's degree,free/reduced,none,55,61,54
41,female,group C,associate's degree,standard,none,58,73,68
42,female,group B,associate's degree,standard,none,53,58,65
43,male,group B,some college,free/reduced,completed,59,65,66
44,female,group E,associate's degree,free/reduced,none,50,56,54
45,male,group B,associate's degree,standard,none,65,54,57
46,female,group A,associate's degree,standard,completed,55,65,62
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
49,male,group C,high school,standard,completed,82,84,82
50,male,group E,some college,standard,none,53,55,48
51,male,group E,associate's degree,free/reduced,completed,77,69,68
52,male,group C,some college,standard,none,53,44,42
53,male,group D,high school,standard,none,88,78,75
54,female,group C,some high school,free/reduced,completed,71,84,87
55,female,group C,high school,free/reduced,none,33,41,43
56,female,group E,associate's degree,standard,completed,82,85,86
57,male,group D,associate's degree,standard,none,52,55,49
58,male,group D,some college,standard,completed,58,59,58
59,female,group C,some high school,free/reduced,none,0,17,10
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
61,male,group A,some high school,free/reduced,none,39,39,34
62,male,group A,associate's degree,free/reduced,none,62,61,55
63,female,group C,associate's degree,standard,none,69,80,71
64,female,group D,some high school,standard,none,59,58,59
65,male,group B,some high school,standard,none,67,64,61
66,male,group D,some high school,free/reduced,none,45,37,37
67,female,group C,some college,standard,none,60,72,74
68,male,group B,associate's degree,free/reduced,none,61,58,56
69,female,group C,associate's degree,standard,none,39,64,57
70,female,group D,some college,free/reduced,completed,58,63,73
71,male,group D,some college,standard,completed,63,55,63
72,female,group A,associate's degree,free/reduced,none,41,51,48
73,male,group C,some high school,free/reduced,none,61,57,56
74,male,group C,some high school,standard,none,49,49,41
75,male,group B,associate's degree,free/reduced,none,44,41,38
76,male,group E,some high school,standard,none,30,26,22
77,male,group A,bachelor's degree,standard,completed,80,78,81
78,female,group D,some high school,standard,completed,61,74,72
79,female,group E,master's degree,standard,none,62,68,68
80,female,group B,associate's degree,standard,none,47,49,50
81,male,group B,high school,free/reduced,none,49,45,45
82,male,group A,some college,free/reduced,completed,50,47,54
83,male,group E,associate's degree,standard,none,72,64,63
84,male,group D,high school,free/reduced,none,42,39,34
85,female,group C,some college,standard,none,73,80,82
86,female,group C,some college,free/reduced,none,76,83,88
87,female,group D,associate's degree,standard,none,71,71,74
88,female,group A,some college,standard,none,58,70,67
89,female,group D,some high school,standard,none,73,86,82
90,female,group C,bachelor's degree,standard,none,65,72,74
91,male,group C,high school,free/reduced,none,27,34,36
92,male,group C,high school,standard,none,71,79,71
93,male,group C,associate's degree,free/reduced,completed,43,45,50
94,female,group B,some college,standard,none,79,86,92
95,male,group C,associate's degree,free/reduced,completed,78,81,82
96,male,group B,some high school,standard,completed,65,66,62
97,female,group E,some college,standard,completed,63,72,70
98,female,group D,some college,free/reduced,none,58,67,62
99,female,group D,bachelor's degree,standard,none,65,67,62
100,male,group B,some college,standard,none,79,67,67
101,male,group D,bachelor's degree,standard,completed,68,74,74
102,female,group D,associate's degree,standard,none,85,91,89
103,male,group B,high school,standard,completed,60,44,47
104,male,group C,some college,standard,completed,98,86,90
105,female,group C,some college,standard,none,58,67,72
106,female,group D,master's degree,standard,none,87,100,100
107,male,group E,associate's degree,standard,completed,66,63,64
108,female,group B,associate's degree,free/reduced,none,52,76,70
109,female,group B,some high school,standard,none,70,64,72
110,female,group D,associate's degree,free/reduced,completed,77,89,98
111,male,group C,high school,standard,none,62,55,49
112,male,group A,associate's degree,standard,none,54,53,47
113,female,group D,some college,standard,none,51,58,54
114,female,group E,bachelor's degree,standard,completed,99,100,100
115,male,group C,high school,standard,none,84,77,74
116,female,group B,bachelor's degree,free/reduced,none,75,85,82
117,female,group D,bachelor's degree,standard,none,78,82,79
118,female,group D,some high school,standard,none,51,63,61
119,female,group C,some college,standard,none,55,69,65
120,female,group C,bachelor's degree,standard,completed,79,92,89
121,male,group B,associate's degree,standard,completed,91,89,92
122,female,group C,some college,standard,completed,88,93,93
123,male,group D,high school,free/reduced,none,63,57,56
124,male,group E,some college,standard,none,83,80,73
125,female,group B,high school,standard,none,87,95,86
126,male,group B,some high school,standard,none,72,68,67
127,male,group D,some college,standard,completed,65,77,74
128,male,group D,master's degree,standard,none,82,82,74
129,female,group A,bachelor's degree,standard,none,51,49,51
130,male,group D,master's degree,standard,none,89,84,82
131,male,group C,some high school,free/reduced,completed,53,37,40
132,male,group E,some college,free/reduced,completed,87,74,70
133,female,group C,some college,standard,completed,75,81,84
134,male,group D,bachelor's degree,free/reduced,completed,74,79,75
135,male,group C,bachelor's degree,standard,none,58,55,48
136,male,group B,some high school,standard,completed,51,54,41
137,male,group E,high school,standard,none,70,55,56
138,female,group C,associate's degree,standard,none,59,66,67
139,male,group D,some college,standard,completed,71,61,69
140,female,group D,some high school,standard,none,76,72,71
141,female,group C,some college,free/reduced,none,59,62,64
142,female,group E,some college,free/reduced,completed,42,55,54
143,male,group A,high school,standard,none,57,43,47
144,male,group D,some college,standard,none,88,73,78
145,female,group C,some college,free/reduced,none,22,39,33
146,male,group B,some high school,standard,none,88,84,75
147,male,group C,associate's degree,free/reduced,none,73,68,66
148,female,group D,bachelor's degree,standard,completed,68,75,81
149,male,group E,associate's degree,free/reduced,completed,100,100,93
150,male,group A,some high school,standard,completed,62,67,69
151,male,group A,bachelor's degree,standard,none,77,67,68
152,female,group B,associate's degree,standard,completed,59,70,66
153,male,group D,bachelor's degree,standard,none,54,49,47
154,male,group D,some high school,standard,none,62,67,61
155,female,group C,some college,standard,completed,70,89,88
156,female,group E,high school,free/reduced,completed,66,74,78
157,male,group B,some college,free/reduced,none,60,60,60
158,female,group B,associate's degree,standard,completed,61,86,87
159,male,group D,associate's degree,free/reduced,none,66,62,64
160,male,group B,associate's degree,free/reduced,completed,82,78,74
161,female,group E,some college,free/reduced,completed,75,88,85
162,male,group B,master's degree,free/reduced,none,49,53,52
163,male,group C,high school,standard,none,52,53,49
164,female,group E,master's degree,standard,none,81,92,91
165,female,group C,bachelor's degree,standard,completed,96,100,100
166,male,group C,high school,free/reduced,completed,53,51,51
167,female,group B,master's degree,free/reduced,completed,58,76,78
168,female,group B,high school,standard,completed,68,83,78
169,female,group C,some college,free/reduced,completed,67,75,70
170,male,group A,high school,standard,completed,72,73,74
171,male,group E,some high school,standard,none,94,88,78
172,female,group D,some college,standard,none,79,86,81
173,female,group C,associate's degree,standard,none,63,67,70
174,female,group C,bachelor's degree,free/reduced,completed,43,51,54
175,female,group C,master's degree,standard,completed,81,91,87
176,female,group B,high school,free/reduced,completed,46,54,58
177,female,group C,associate's degree,standard,completed,71,77,77
178,female,group B,master's degree,free/reduced,completed,52,70,62
179,female,group D,some high school,standard,completed,97,100,100
180,male,group C,master's degree,free/reduced,completed,62,68,75
181,female,group C,some college,free/reduced,none,46,64,66
182,female,group E,high school,standard,none,50,50,47
183,female,group D,associate's degree,standard,none,65,69,70
184,male,group C,some high school,free/reduced,completed,45,52,49
185,male,group C,associate's degree,free/reduced,completed,65,67,65
186,male,group E,high school,standard,none,80,76,65
187,male,group D,some high school,standard,completed,62,66,68
188,male,group B,some high school,free/reduced,none,48,52,45
189,female,group C,bachelor's degree,standard,none,77,88,87
190,female,group E,associate's degree,standard,none,66,65,69
191,male,group D,some college,standard,completed,76,83,79
192,female,group B,some high school,standard,none,62,64,66
193,male,group D,some college,standard,completed,77,62,62
194,female,group C,master's degree,standard,completed,69,84,85
195,male,group D,associate's degree,standard,none,61,55,52
196,male,group C,some high school,free/reduced,completed,59,69,65
197,male,group E,high school,free/reduced,none,55,56,51
198,female,group B,some college,free/reduced,none,45,53,55
199,female,group B,bachelor's degree,free/reduced,none,78,79,76
200,female,group C,associate's degree,standard,completed,67,84,86
201,female,group D,some college,free/reduced,none,65,81,77
202,male,group C,associate's degree,standard,none,69,77,69
203,female,group B,associate's degree,standard,none,57,69,68
204,male,group C,some college,standard,none,59,41,42
205,male,group D,some high school,standard,completed,74,71,78
206,male,group E,bachelor's degree,standard,none,82,62,62
207,male,group E,high school,standard,completed,81,80,76
208,female,group B,some college,free/reduced,none,74,81,76
209,female,group B,some college,free/reduced,none,58,61,66
210,male,group D,some high school,free/reduced,completed,80,79,79
211,male,group C,some college,free/reduced,none,35,28,27
212,female,group C,high school,free/reduced,none,42,62,60
213,male,group C,associate's degree,free/reduced,completed,60,51,56
214,male,group E,high school,standard,completed,87,91,81
215,male,group B,some high school,standard,completed,84,83,75
216,female,group E,associate's degree,free/reduced,completed,83,86,88
217,female,group C,high school,free/reduced,none,34,42,39
218,male,group B,high school,free/reduced,none,66,77,70
219,male,group B,some high school,standard,completed,61,56,56
220,female,group D,high school,standard,completed,56,68,74
221,male,group B,associate's degree,standard,none,87,85,73
222,female,group C,some high school,free/reduced,none,55,65,62
223,male,group D,some high school,standard,none,86,80,75
224,female,group B,associate's degree,standard,completed,52,66,73
225,female,group E,master's degree,free/reduced,none,45,56,54
226,female,group C,some college,standard,none,72,72,71
227,male,group D,high school,standard,none,57,50,54
228,male,group A,some high school,free/reduced,none,68,72,64
229,female,group C,some college,standard,completed,88,95,94
230,male,group D,some college,standard,none,76,64,66
231,male,group C,associate's degree,standard,none,46,43,42
232,female,group B,bachelor's degree,standard,none,67,86,83
233,male,group E,some high school,standard,none,92,87,78
234,male,group C,bachelor's degree,standard,completed,83,82,84
235,male,group D,associate's degree,standard,none,80,75,77
236,male,group D,bachelor's degree,free/reduced,none,63,66,67
237,female,group D,some high school,standard,completed,64,60,74
238,male,group B,some college,standard,none,54,52,51
239,male,group C,associate's degree,standard,none,84,80,80
240,male,group D,high school,free/reduced,completed,73,68,66
241,female,group E,bachelor's degree,standard,none,80,83,83
242,female,group D,high school,standard,none,56,52,55
243,male,group E,some college,standard,none,59,51,43
244,male,group D,some high school,standard,none,75,74,69
245,male,group C,associate's degree,standard,none,85,76,71
246,male,group E,associate's degree,standard,none,89,76,74
247,female,group B,high school,standard,completed,58,70,68
248,female,group B,high school,standard,none,65,64,62
249,male,group C,high school,standard,none,68,60,53
250,male,group A,some high school,standard,completed,47,49,49
251,female,group D,some college,free/reduced,none,71,83,83
252,female,group B,some high school,standard,completed,60,70,70
253,male,group D,master's degree,standard,none,80,80,72
254,male,group D,high school,standard,none,54,52,52
255,female,group E,some college,standard,none,62,73,70
256,female,group C,associate's degree,free/reduced,none,64,73,68
257,male,group C,associate's degree,standard,completed,78,77,77
258,female,group B,some college,standard,none,70,75,78
259,female,group C,master's degree,free/reduced,completed,65,81,81
260,female,group C,some high school,free/reduced,completed,64,79,77
261,male,group C,some college,standard,completed,79,79,78
262,female,group C,some high school,free/reduced,none,44,50,51
263,female,group E,high school,standard,none,99,93,90
264,male,group D,high school,standard,none,76,73,68
265,male,group D,some high school,free/reduced,none,59,42,41
266,female,group C,bachelor's degree,standard,none,63,75,81
267,female,group D,high school,standard,none,69,72,77
268,female,group D,associate's degree,standard,completed,88,92,95
269,female,group E,some college,free/reduced,none,71,76,70
270,male,group C,bachelor's degree,standard,none,69,63,61
271,male,group C,some college,standard,none,58,49,42
272,female,group D,associate's degree,free/reduced,none,47,53,58
273,female,group D,some college,standard,none,65,70,71
274,male,group B,some college,standard,completed,88,85,76
275,male,group C,bachelor's degree,standard,none,83,78,73
276,female,group C,some high school,standard,completed,85,92,93
277,female,group E,high school,standard,completed,59,63,75
278,female,group C,some high school,free/reduced,none,65,86,80
279,male,group B,bachelor's degree,free/reduced,none,73,56,57
280,male,group D,high school,standard,none,53,52,42
281,male,group D,high school,standard,none,45,48,46
282,female,group D,bachelor's degree,free/reduced,none,73,79,84
283,female,group D,some college,free/reduced,completed,70,78,78
284,female,group B,some high school,standard,none,37,46,46
285,male,group B,associate's degree,standard,completed,81,82,82
286,male,group E,associate's degree,standard,completed,97,82,88
287,female,group B,some high school,standard,none,67,89,82
288,male,group B,bachelor's degree,free/reduced,none,88,75,76
289,male,group E,some high school,standard,completed,77,76,77
290,male,group C,associate's degree,standard,none,76,70,68
291,male,group D,some high school,standard,none,86,73,70
292,male,group C,some high school,standard,completed,63,60,57
293,female,group E,bachelor's degree,standard,none,65,73,75
294,male,group D,high school,free/reduced,completed,78,77,80
295,male,group B,associate's degree,free/reduced,none,67,62,60
296,male,group A,some high school,standard,completed,46,41,43
297,male,group E,associate's degree,standard,completed,71,74,68
298,male,group C,high school,free/reduced,completed,40,46,50
299,male,group D,associate's degree,free/reduced,none,90,87,75
300,male,group A,some college,free/reduced,completed,81,78,81
301,male,group D,some high school,free/reduced,none,56,54,52
302,female,group C,associate's degree,standard,completed,67,84,81
303,male,group B,associate's degree,standard,none,80,76,64
304,female,group C,associate's degree,standard,completed,74,75,83
305,male,group A,some college,standard,none,69,67,69
306,male,group E,some college,standard,completed,99,87,81
307,male,group C,some high school,standard,none,51,52,44
308,female,group B,associate's degree,free/reduced,none,53,71,67
309,female,group D,high school,free/reduced,none,49,57,52
310,female,group B,associate's degree,standard,none,73,76,80
311,male,group B,bachelor's degree,standard,none,66,60,57
312,male,group D,bachelor's degree,standard,completed,67,61,68
313,female,group C,associate's degree,free/reduced,completed,68,67,69
314,female,group C,bachelor's degree,standard,completed,59,64,75
315,male,group C,high school,standard,none,71,66,65
316,female,group D,master's degree,standard,completed,77,82,91
317,male,group C,associate's degree,standard,none,83,72,78
318,male,group B,bachelor's degree,standard,none,63,71,69
319,female,group D,associate's degree,free/reduced,none,56,65,63
320,female,group C,high school,free/reduced,completed,67,79,84
321,female,group E,high school,standard,none,75,86,79
322,female,group C,some college,standard,none,71,81,80
323,female,group C,some high school,free/reduced,none,43,53,53
324,female,group C,high school,free/reduced,none,41,46,43
325,female,group C,some college,standard,none,82,90,94
326,male,group C,some college,standard,none,61,61,62
327,male,group A,some college,free/reduced,none,28,23,19
328,male,group C,associate's degree,standard,completed,82,75,77
329,female,group B,some high school,standard,none,41,55,51
330,male,group C,high school,standard,none,71,60,61
331,male,group C,associate's degree,standard,none,47,37,35
332,male,group E,associate's degree,standard,completed,62,56,53

# selecting columns

In [216]:
df_exams['gender']

0      female
1      female
2      female
3        male
4        male
5      female
6      female
7        male
8        male
9      female
10       male
11       male
12     female
13       male
14     female
15     female
16       male
17     female
18       male
19     female
20       male
21     female
22       male
23     female
24       male
25       male
26       male
27     female
28       male
29     female
30     female
31     female
32     female
33       male
34       male
35       male
36     female
37     female
38     female
39       male
40       male
41     female
42     female
43       male
44     female
45       male
46     female
47     female
48     female
49       male
50       male
51       male
52       male
53       male
54     female
55     female
56     female
57       male
58       male
59     female
60       male
61       male
62       male
63     female
64     female
65       male
66       male
67     female
68       male
69     female
70     female
71       male
72     female
73       male
74       male
75       male
76       male
77       male
78     female
79     female
80     female
81       male
82       male
83       male
84       male
85     female
86     female
87     female
88     female
89     female
90     female
91       male
92       male
93       male
94     female
95       male
96       male
97     female
98     female
99     female
100      male
101      male
102    female
103      male
104      male
105    female
106    female
107      male
108    female
109    female
110    female
111      male
112      male
113    female
114    female
115      male
116    female
117    female
118    female
119    female
120    female
121      male
122    female
123      male
124      male
125    female
126      male
127      male
128      male
129    female
130      male
131      male
132      male
133    female
134      male
135      male
136      male
137      male
138    female
139      male
140    female
141    female
142    female
143      male
144      male
145    female
146      male
147      male
148    female
149      male
150      male
151      male
152    female
153      male
154      male
155    female
156    female
157      male
158    female
159      male
160      male
161    female
162      male
163      male
164    female
165    female
166      male
167    female
168    female
169    female
170      male
171      male
172    female
173    female
174    female
175    female
176    female
177    female
178    female
179    female
180      male
181    female
182    female
183    female
184      male
185      male
186      male
187      male
188      male
189    female
190    female
191      male
192    female
193      male
194    female
195      male
196      male
197      male
198    female
199    female
200    female
201    female
202      male
203    female
204      male
205      male
206      male
207      male
208    female
209    female
210      male
211      male
212    female
213      male
214      male
215      male
216    female
217    female
218      male
219      male
220    female
221      male
222    female
223      male
224    female
225    female
226    female
227      male
228      male
229    female
230      male
231      male
232    female
233      male
234      male
235      male
236      male
237    female
238      male
239      male
240      male
241    female
242    female
243      male
244      male
245      male
246      male
247    female
248    female
249      male
250      male
251    female
252    female
253      male
254      male
255    female
256    female
257      male
258    female
259    female
260    female
261      male
262    female
263    female
264      male
265      male
266    female
267    female
268    female
269    female
270      male
271      male
272    female
273    female
274      male
275      male
276    female
277    female
278    female
279      male
280      male
281      male
282    female
283    female
284    female
285      male
286      male
287    female
288      male
289      male
290      male
291      male
292      male
293    female
294      male
295      male
296      male
297      male
298      male
299      male
300      male
301      male
302    female
303      male
304    female
305      male
306      male
307      male
308    female
309    female
310    female
311      male
312      male
313    female
314    female
315      male
316    female
317      male
318      male
319    female
320    female
321    female
322    female
323    female
324    female
325    female
326      male
327      male
328      male
329    female
330      male
331      male
332      male
333      male
334    female
335    female
336      male
337      male
338    female
339    female
340      male
341    female
342    female
343      male
344      male
345    female
346      male
347    female
348      male
349      male
350    female
351      male
352    female
353    female
354    female
355    female
356      male
357    female
358      male
359    female
360    female
361      male
362    female
363    female
364      male
365      male
366      male
367      male
368    female
369    female
370      male
371    female
372      male
373    female
374    female
375      male
376    female
377    female
378    female
379      male
380    female
381      male
382      male
383    female
384    female
385    female
386    female
387    female
388    female
389      male
390      male
391    female
392      male
393      male
394    female
395      male
396    female
397    female
398      male
399      male
400    female
401      male
402    female
403    female
404    female
405    female
406      male
407    female
408    female
409      male
410    female
411      male
412      male
413      male
414    female
415      male
416      male
417      male
418      male
419      male
420    female
421    female
422    female
423    female
424      male
425    female
426      male
427      male
428      male
429      male
430      male
431    female
432      male
433    female
434      male
435      male
436      male
437      male
438      male
439      male
440    female
441    female
442    female
443    female
444      male
445    female
446      male
447      male
448      male
449      male
450    female
451    female
452    female
453      male
454    female
455      male
456    female
457      male
458    female
459      male
460      male
461      male
462    female
463    female
464      male
465    female
466    female
467      male
468    female
469      male
470    female
471    female
472    female
473    female
474    female
475    female
476      male
477      male
478    female
479      male
480      male
481    female
482      male
483      male
484    female
485      male
486      male
487    female
488      male
489      male
490    female
491    female
492    female
493    female
494    female
495      male
496    female
497    female
498    female
499      male
500    female
501    female
502      male
503    female
504    female
505    female
506      male
507      male
508      male
509    female
510      male
511      male
512      male
513    female
514    female
515    female
516    female
517    female
518    female
519    female
520      male
521    female
522      male
523      male
524      male
525      male
526      male
527    female
528    female
529    female
530    female
531    female
532      male
533    female
534      male
535    female
536      male
537    female
538      male
539      male
540      male
541      male
542    female
543    female
544    female
545      male
546    female
547      male
548    female
549      male
550      male
551      male
552    female
553      male
554      male
555    female
556    female
557      male
558    female
559      male
560    female
561    female
562      male
563    female
564      male
565      male
566    female
567    female
568      male
569      male
570      male
571      male
572    female
573    female
574    female
575      male
576      male
577    female
578    female
579    female
580    female
581    female
582    female
583    female
584    female
585    female
586    female
587    female
588    female
589    female
590      male
591      male
592      male
593    female
594    female
595    female
596      male
597      male
598    female
599    female
600    female
601    female
602    female
603      male
604      male
605      male
606    female
607    female
608    female
609    female
610      male
611    female
612      male
613    female
614    female
615    female
616    female
617      male
618      male
619      male
620    female
621      male
622      male
623      male
624    female
625      male
626      male
627      male
628      male
629    female
630      male
631      male
632    female
633    female
634      male
635      male
636    female
637    female
638      male
639    female
640      male
641    female
642    female
643    female
644      male
645    female
646    female
647    female
648    female
649    female
650      male
651    female
652    female
653    female
654    female
655    female
656      male
657      male
658    female
659      male
660      male
661      male
662    female
663    female
664      male
665    female
666    female
667    female
668      male
669      male
670    female
671      male
672    female
673    female
674    female
675    female
676    female
677    female
678      male
679      male
680    female
681      male
682      male
683    female
684      male
685    female
686      male
687      male
688      male
689      male
690    female
691    female
692    female
693    female
694    female
695    female
696    female
697    female
698    female
699      male
700    female
701    female
702      male
703    female
704    female
705      male
706      male
707      male
708      male
709    female
710      male
711    female
712    female
713      male
714    female
715    female
716      male
717    female
718    female
719      male
720    female
721      male
722    female
723      male
724      male
725      male
726    female
727      male
728    female
729      male
730    female
731      male
732    female
733      male
734    female
735      male
736      male
737    female
738      male
739      male
740      male
741    female
742    female
743    female
744      male
745      male
746      male
747      male
748    female
749      male
750      male
751      male
752      male
753    female
754      male
755    female
756      male
757      male
758    female
759      male
760    female
761    female
762      male
763    female
764      male
765    female
766    female
767      male
768    female
769      male
770      male
771      male
772    female
773    female
774      male
775    female
776    female
777    female
778    female
779      male
780    female
781    female
782    female
783    female
784      male
785    female
786    female
787    female
788      male
789    female
790    female
791    female
792      male
793      male
794    female
795    female
796      male
797    female
798      male
799    female
800      male
801      male
802    female
803    female
804    female
805      male
806    female
807    female
808      male
809      male
810      male
811      male
812    female
813      male
814    female
815      male
816    female
817      male
818    female
819    female
820    female
821    female
822      male
823    female
824    female
825      male
826    female
827    female
828    female
829      male
830    female
831    female
832      male
833    female
834      male
835    female
836      male
837    female
838      male
839    female
840    female
841      male
842    female
843      male
844    female
845      male
846      male
847      male
848    female
849      male
850      male
851    female
852    female
853      male
854      male
855    female
856      male
857    female
858      male
859      male
860    female
861    female
862      male
863    female
864      male
865      male
866      male
867      male
868      male
869      male
870      male
871    female
872      male
873      male
874    female
875      male
876      male
877      male
878    female
879    female
880      male
881    female
882    female
883      male
884    female
885    female
886    female
887      male
888    female
889      male
890    female
891    female
892    female
893      male
894    female
895    female
896      male
897    female
898      male
899    female
900      male
901    female
902    female
903    female
904    female
905      male
906      male
907    female
908    female
909      male
910      male
911    female
912    female
913    female
914    female
915    female
916      male
917    female
918    female
919      male
920      male
921    female
922      male
923    female
924      male
925      male
926      male
927    female
928      male
929    female
930      male
931      male
932      male
933      male
934      male
935      male
936      male
937    female
938      male
939      male
940      male
941    female
942      male
943      male
944    female
945    female
946      male
947    female
948      male
949    female
950      male
951    female
952    female
953      male
954    female
955      male
956      male
957    female
958    female
959      male
960    female
961    female
962    female
963    female
964      male
965    female
966      male
967      male
968    female
969    female
970    female
971      male
972    female
973    female
974    female
975    female
976      male
977      male
978      male
979    female
980    female
981      male
982      male
983    female
984    female
985      male
986    female
987      male
988    female
989    female
990      male
991    female
992    female
993    female
994      male
995    female
996      male
997    female
998    female
999    female
Name: gender, dtype: object

In [217]:
df_exams['gender']=='male' # checking male or not

0      False
1      False
2      False
3       True
4       True
5      False
6      False
7       True
8       True
9      False
10      True
11      True
12     False
13      True
14     False
15     False
16      True
17     False
18      True
19     False
20      True
21     False
22      True
23     False
24      True
25      True
26      True
27     False
28      True
29     False
30     False
31     False
32     False
33      True
34      True
35      True
36     False
37     False
38     False
39      True
40      True
41     False
42     False
43      True
44     False
45      True
46     False
47     False
48     False
49      True
50      True
51      True
52      True
53      True
54     False
55     False
56     False
57      True
58      True
59     False
60      True
61      True
62      True
63     False
64     False
65      True
66      True
67     False
68      True
69     False
70     False
71      True
72     False
73      True
74      True
75      True
76      True
77      True
78     False
79     False
80     False
81      True
82      True
83      True
84      True
85     False
86     False
87     False
88     False
89     False
90     False
91      True
92      True
93      True
94     False
95      True
96      True
97     False
98     False
99     False
100     True
101     True
102    False
103     True
104     True
105    False
106    False
107     True
108    False
109    False
110    False
111     True
112     True
113    False
114    False
115     True
116    False
117    False
118    False
119    False
120    False
121     True
122    False
123     True
124     True
125    False
126     True
127     True
128     True
129    False
130     True
131     True
132     True
133    False
134     True
135     True
136     True
137     True
138    False
139     True
140    False
141    False
142    False
143     True
144     True
145    False
146     True
147     True
148    False
149     True
150     True
151     True
152    False
153     True
154     True
155    False
156    False
157     True
158    False
159     True
160     True
161    False
162     True
163     True
164    False
165    False
166     True
167    False
168    False
169    False
170     True
171     True
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180     True
181    False
182    False
183    False
184     True
185     True
186     True
187     True
188     True
189    False
190    False
191     True
192    False
193     True
194    False
195     True
196     True
197     True
198    False
199    False
200    False
201    False
202     True
203    False
204     True
205     True
206     True
207     True
208    False
209    False
210     True
211     True
212    False
213     True
214     True
215     True
216    False
217    False
218     True
219     True
220    False
221     True
222    False
223     True
224    False
225    False
226    False
227     True
228     True
229    False
230     True
231     True
232    False
233     True
234     True
235     True
236     True
237    False
238     True
239     True
240     True
241    False
242    False
243     True
244     True
245     True
246     True
247    False
248    False
249     True
250     True
251    False
252    False
253     True
254     True
255    False
256    False
257     True
258    False
259    False
260    False
261     True
262    False
263    False
264     True
265     True
266    False
267    False
268    False
269    False
270     True
271     True
272    False
273    False
274     True
275     True
276    False
277    False
278    False
279     True
280     True
281     True
282    False
283    False
284    False
285     True
286     True
287    False
288     True
289     True
290     True
291     True
292     True
293    False
294     True
295     True
296     True
297     True
298     True
299     True
300     True
301     True
302    False
303     True
304    False
305     True
306     True
307     True
308    False
309    False
310    False
311     True
312     True
313    False
314    False
315     True
316    False
317     True
318     True
319    False
320    False
321    False
322    False
323    False
324    False
325    False
326     True
327     True
328     True
329    False
330     True
331     True
332     True
333     True
334    False
335    False
336     True
337     True
338    False
339    False
340     True
341    False
342    False
343     True
344     True
345    False
346     True
347    False
348     True
349     True
350    False
351     True
352    False
353    False
354    False
355    False
356     True
357    False
358     True
359    False
360    False
361     True
362    False
363    False
364     True
365     True
366     True
367     True
368    False
369    False
370     True
371    False
372     True
373    False
374    False
375     True
376    False
377    False
378    False
379     True
380    False
381     True
382     True
383    False
384    False
385    False
386    False
387    False
388    False
389     True
390     True
391    False
392     True
393     True
394    False
395     True
396    False
397    False
398     True
399     True
400    False
401     True
402    False
403    False
404    False
405    False
406     True
407    False
408    False
409     True
410    False
411     True
412     True
413     True
414    False
415     True
416     True
417     True
418     True
419     True
420    False
421    False
422    False
423    False
424     True
425    False
426     True
427     True
428     True
429     True
430     True
431    False
432     True
433    False
434     True
435     True
436     True
437     True
438     True
439     True
440    False
441    False
442    False
443    False
444     True
445    False
446     True
447     True
448     True
449     True
450    False
451    False
452    False
453     True
454    False
455     True
456    False
457     True
458    False
459     True
460     True
461     True
462    False
463    False
464     True
465    False
466    False
467     True
468    False
469     True
470    False
471    False
472    False
473    False
474    False
475    False
476     True
477     True
478    False
479     True
480     True
481    False
482     True
483     True
484    False
485     True
486     True
487    False
488     True
489     True
490    False
491    False
492    False
493    False
494    False
495     True
496    False
497    False
498    False
499     True
500    False
501    False
502     True
503    False
504    False
505    False
506     True
507     True
508     True
509    False
510     True
511     True
512     True
513    False
514    False
515    False
516    False
517    False
518    False
519    False
520     True
521    False
522     True
523     True
524     True
525     True
526     True
527    False
528    False
529    False
530    False
531    False
532     True
533    False
534     True
535    False
536     True
537    False
538     True
539     True
540     True
541     True
542    False
543    False
544    False
545     True
546    False
547     True
548    False
549     True
550     True
551     True
552    False
553     True
554     True
555    False
556    False
557     True
558    False
559     True
560    False
561    False
562     True
563    False
564     True
565     True
566    False
567    False
568     True
569     True
570     True
571     True
572    False
573    False
574    False
575     True
576     True
577    False
578    False
579    False
580    False
581    False
582    False
583    False
584    False
585    False
586    False
587    False
588    False
589    False
590     True
591     True
592     True
593    False
594    False
595    False
596     True
597     True
598    False
599    False
600    False
601    False
602    False
603     True
604     True
605     True
606    False
607    False
608    False
609    False
610     True
611    False
612     True
613    False
614    False
615    False
616    False
617     True
618     True
619     True
620    False
621     True
622     True
623     True
624    False
625     True
626     True
627     True
628     True
629    False
630     True
631     True
632    False
633    False
634     True
635     True
636    False
637    False
638     True
639    False
640     True
641    False
642    False
643    False
644     True
645    False
646    False
647    False
648    False
649    False
650     True
651    False
652    False
653    False
654    False
655    False
656     True
657     True
658    False
659     True
660     True
661     True
662    False
663    False
664     True
665    False
666    False
667    False
668     True
669     True
670    False
671     True
672    False
673    False
674    False
675    False
676    False
677    False
678     True
679     True
680    False
681     True
682     True
683    False
684     True
685    False
686     True
687     True
688     True
689     True
690    False
691    False
692    False
693    False
694    False
695    False
696    False
697    False
698    False
699     True
700    False
701    False
702     True
703    False
704    False
705     True
706     True
707     True
708     True
709    False
710     True
711    False
712    False
713     True
714    False
715    False
716     True
717    False
718    False
719     True
720    False
721     True
722    False
723     True
724     True
725     True
726    False
727     True
728    False
729     True
730    False
731     True
732    False
733     True
734    False
735     True
736     True
737    False
738     True
739     True
740     True
741    False
742    False
743    False
744     True
745     True
746     True
747     True
748    False
749     True
750     True
751     True
752     True
753    False
754     True
755    False
756     True
757     True
758    False
759     True
760    False
761    False
762     True
763    False
764     True
765    False
766    False
767     True
768    False
769     True
770     True
771     True
772    False
773    False
774     True
775    False
776    False
777    False
778    False
779     True
780    False
781    False
782    False
783    False
784     True
785    False
786    False
787    False
788     True
789    False
790    False
791    False
792     True
793     True
794    False
795    False
796     True
797    False
798     True
799    False
800     True
801     True
802    False
803    False
804    False
805     True
806    False
807    False
808     True
809     True
810     True
811     True
812    False
813     True
814    False
815     True
816    False
817     True
818    False
819    False
820    False
821    False
822     True
823    False
824    False
825     True
826    False
827    False
828    False
829     True
830    False
831    False
832     True
833    False
834     True
835    False
836     True
837    False
838     True
839    False
840    False
841     True
842    False
843     True
844    False
845     True
846     True
847     True
848    False
849     True
850     True
851    False
852    False
853     True
854     True
855    False
856     True
857    False
858     True
859     True
860    False
861    False
862     True
863    False
864     True
865     True
866     True
867     True
868     True
869     True
870     True
871    False
872     True
873     True
874    False
875     True
876     True
877     True
878    False
879    False
880     True
881    False
882    False
883     True
884    False
885    False
886    False
887     True
888    False
889     True
890    False
891    False
892    False
893     True
894    False
895    False
896     True
897    False
898     True
899    False
900     True
901    False
902    False
903    False
904    False
905     True
906     True
907    False
908    False
909     True
910     True
911    False
912    False
913    False
914    False
915    False
916     True
917    False
918    False
919     True
920     True
921    False
922     True
923    False
924     True
925     True
926     True
927    False
928     True
929    False
930     True
931     True
932     True
933     True
934     True
935     True
936     True
937    False
938     True
939     True
940     True
941    False
942     True
943     True
944    False
945    False
946     True
947    False
948     True
949    False
950     True
951    False
952    False
953     True
954    False
955     True
956     True
957    False
958    False
959     True
960    False
961    False
962    False
963    False
964     True
965    False
966     True
967     True
968    False
969    False
970    False
971     True
972    False
973    False
974    False
975    False
976     True
977     True
978     True
979    False
980    False
981     True
982     True
983    False
984    False
985     True
986    False
987     True
988    False
989    False
990     True
991    False
992    False
993    False
994     True
995    False
996     True
997    False
998    False
999    False
Name: gender, dtype: bool

In [218]:
df_exams[df_exams['gender']=='male'] #displaying male only

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
13,male,group A,some college,standard,completed,78,72,70
16,male,group C,high school,standard,none,88,89,86
18,male,group C,master's degree,free/reduced,completed,46,42,46
20,male,group D,high school,standard,none,66,69,63
22,male,group D,some college,standard,none,44,54,53
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
28,male,group C,high school,standard,none,70,70,65
33,male,group D,some college,standard,none,40,42,38
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
39,male,group B,associate's degree,free/reduced,none,57,56,57
40,male,group C,associate's degree,free/reduced,none,55,61,54
43,male,group B,some college,free/reduced,completed,59,65,66
45,male,group B,associate's degree,standard,none,65,54,57
49,male,group C,high school,standard,completed,82,84,82
50,male,group E,some college,standard,none,53,55,48
51,male,group E,associate's degree,free/reduced,completed,77,69,68
52,male,group C,some college,standard,none,53,44,42
53,male,group D,high school,standard,none,88,78,75
57,male,group D,associate's degree,standard,none,52,55,49
58,male,group D,some college,standard,completed,58,59,58
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
61,male,group A,some high school,free/reduced,none,39,39,34
62,male,group A,associate's degree,free/reduced,none,62,61,55
65,male,group B,some high school,standard,none,67,64,61
66,male,group D,some high school,free/reduced,none,45,37,37
68,male,group B,associate's degree,free/reduced,none,61,58,56
71,male,group D,some college,standard,completed,63,55,63
73,male,group C,some high school,free/reduced,none,61,57,56
74,male,group C,some high school,standard,none,49,49,41
75,male,group B,associate's degree,free/reduced,none,44,41,38
76,male,group E,some high school,standard,none,30,26,22
77,male,group A,bachelor's degree,standard,completed,80,78,81
81,male,group B,high school,free/reduced,none,49,45,45
82,male,group A,some college,free/reduced,completed,50,47,54
83,male,group E,associate's degree,standard,none,72,64,63
84,male,group D,high school,free/reduced,none,42,39,34
91,male,group C,high school,free/reduced,none,27,34,36
92,male,group C,high school,standard,none,71,79,71
93,male,group C,associate's degree,free/reduced,completed,43,45,50
95,male,group C,associate's degree,free/reduced,completed,78,81,82
96,male,group B,some high school,standard,completed,65,66,62
100,male,group B,some college,standard,none,79,67,67
101,male,group D,bachelor's degree,standard,completed,68,74,74
103,male,group B,high school,standard,completed,60,44,47
104,male,group C,some college,standard,completed,98,86,90
107,male,group E,associate's degree,standard,completed,66,63,64
111,male,group C,high school,standard,none,62,55,49
112,male,group A,associate's degree,standard,none,54,53,47
115,male,group C,high school,standard,none,84,77,74
121,male,group B,associate's degree,standard,completed,91,89,92
123,male,group D,high school,free/reduced,none,63,57,56
124,male,group E,some college,standard,none,83,80,73
126,male,group B,some high school,standard,none,72,68,67
127,male,group D,some college,standard,completed,65,77,74
128,male,group D,master's degree,standard,none,82,82,74
130,male,group D,master's degree,standard,none,89,84,82
131,male,group C,some high school,free/reduced,completed,53,37,40
132,male,group E,some college,free/reduced,completed,87,74,70
134,male,group D,bachelor's degree,free/reduced,completed,74,79,75
135,male,group C,bachelor's degree,standard,none,58,55,48
136,male,group B,some high school,standard,completed,51,54,41
137,male,group E,high school,standard,none,70,55,56
139,male,group D,some college,standard,completed,71,61,69
143,male,group A,high school,standard,none,57,43,47
144,male,group D,some college,standard,none,88,73,78
146,male,group B,some high school,standard,none,88,84,75
147,male,group C,associate's degree,free/reduced,none,73,68,66
149,male,group E,associate's degree,free/reduced,completed,100,100,93
150,male,group A,some high school,standard,completed,62,67,69
151,male,group A,bachelor's degree,standard,none,77,67,68
153,male,group D,bachelor's degree,standard,none,54,49,47
154,male,group D,some high school,standard,none,62,67,61
157,male,group B,some college,free/reduced,none,60,60,60
159,male,group D,associate's degree,free/reduced,none,66,62,64
160,male,group B,associate's degree,free/reduced,completed,82,78,74
162,male,group B,master's degree,free/reduced,none,49,53,52
163,male,group C,high school,standard,none,52,53,49
166,male,group C,high school,free/reduced,completed,53,51,51
170,male,group A,high school,standard,completed,72,73,74
171,male,group E,some high school,standard,none,94,88,78
180,male,group C,master's degree,free/reduced,completed,62,68,75
184,male,group C,some high school,free/reduced,completed,45,52,49
185,male,group C,associate's degree,free/reduced,completed,65,67,65
186,male,group E,high school,standard,none,80,76,65
187,male,group D,some high school,standard,completed,62,66,68
188,male,group B,some high school,free/reduced,none,48,52,45
191,male,group D,some college,standard,completed,76,83,79
193,male,group D,some college,standard,completed,77,62,62
195,male,group D,associate's degree,standard,none,61,55,52
196,male,group C,some high school,free/reduced,completed,59,69,65
197,male,group E,high school,free/reduced,none,55,56,51
202,male,group C,associate's degree,standard,none,69,77,69
204,male,group C,some college,standard,none,59,41,42
205,male,group D,some high school,standard,completed,74,71,78
206,male,group E,bachelor's degree,standard,none,82,62,62
207,male,group E,high school,standard,completed,81,80,76
210,male,group D,some high school,free/reduced,completed,80,79,79
211,male,group C,some college,free/reduced,none,35,28,27
213,male,group C,associate's degree,free/reduced,completed,60,51,56
214,male,group E,high school,standard,completed,87,91,81
215,male,group B,some high school,standard,completed,84,83,75
218,male,group B,high school,free/reduced,none,66,77,70
219,male,group B,some high school,standard,completed,61,56,56
221,male,group B,associate's degree,standard,none,87,85,73
223,male,group D,some high school,standard,none,86,80,75
227,male,group D,high school,standard,none,57,50,54
228,male,group A,some high school,free/reduced,none,68,72,64
230,male,group D,some college,standard,none,76,64,66
231,male,group C,associate's degree,standard,none,46,43,42
233,male,group E,some high school,standard,none,92,87,78
234,male,group C,bachelor's degree,standard,completed,83,82,84
235,male,group D,associate's degree,standard,none,80,75,77
236,male,group D,bachelor's degree,free/reduced,none,63,66,67
238,male,group B,some college,standard,none,54,52,51
239,male,group C,associate's degree,standard,none,84,80,80
240,male,group D,high school,free/reduced,completed,73,68,66
243,male,group E,some college,standard,none,59,51,43
244,male,group D,some high school,standard,none,75,74,69
245,male,group C,associate's degree,standard,none,85,76,71
246,male,group E,associate's degree,standard,none,89,76,74
249,male,group C,high school,standard,none,68,60,53
250,male,group A,some high school,standard,completed,47,49,49
253,male,group D,master's degree,standard,none,80,80,72
254,male,group D,high school,standard,none,54,52,52
257,male,group C,associate's degree,standard,completed,78,77,77
261,male,group C,some college,standard,completed,79,79,78
264,male,group D,high school,standard,none,76,73,68
265,male,group D,some high school,free/reduced,none,59,42,41
270,male,group C,bachelor's degree,standard,none,69,63,61
271,male,group C,some college,standard,none,58,49,42
274,male,group B,some college,standard,completed,88,85,76
275,male,group C,bachelor's degree,standard,none,83,78,73
279,male,group B,bachelor's degree,free/reduced,none,73,56,57
280,male,group D,high school,standard,none,53,52,42
281,male,group D,high school,standard,none,45,48,46
285,male,group B,associate's degree,standard,completed,81,82,82
286,male,group E,associate's degree,standard,completed,97,82,88
288,male,group B,bachelor's degree,free/reduced,none,88,75,76
289,male,group E,some high school,standard,completed,77,76,77
290,male,group C,associate's degree,standard,none,76,70,68
291,male,group D,some high school,standard,none,86,73,70
292,male,group C,some high school,standard,completed,63,60,57
294,male,group D,high school,free/reduced,completed,78,77,80
295,male,group B,associate's degree,free/reduced,none,67,62,60
296,male,group A,some high school,standard,completed,46,41,43
297,male,group E,associate's degree,standard,completed,71,74,68
298,male,group C,high school,free/reduced,completed,40,46,50
299,male,group D,associate's degree,free/reduced,none,90,87,75
300,male,group A,some college,free/reduced,completed,81,78,81
301,male,group D,some high school,free/reduced,none,56,54,52
303,male,group B,associate's degree,standard,none,80,76,64
305,male,group A,some college,standard,none,69,67,69
306,male,group E,some college,standard,completed,99,87,81
307,male,group C,some high school,standard,none,51,52,44
311,male,group B,bachelor's degree,standard,none,66,60,57
312,male,group D,bachelor's degree,standard,completed,67,61,68
315,male,group C,high school,standard,none,71,66,65
317,male,group C,associate's degree,standard,none,83,72,78
318,male,group B,bachelor's degree,standard,none,63,71,69
326,male,group C,some college,standard,none,61,61,62
327,male,group A,some college,free/reduced,none,28,23,19
328,male,group C,associate's degree,standard,completed,82,75,77
330,male,group C,high school,standard,none,71,60,61
331,male,group C,associate's degree,standard,none,47,37,35
332,male,group E,associate's degree,standard,completed,62,56,53
333,male,group B,associate's degree,standard,none,90,78,81
336,male,group D,some high school,standard,completed,76,70,69
337,male,group C,associate's degree,standard,none,49,51,43
340,male,group C,high school,free/reduced,none,58,61,52
343,male,group D,associate's degree,standard,completed,67,72,67
344,male,group D,some college,standard,none,79,73,67
346,male,group B,some college,standard,none,62,61,57
348,male,group D,high school,free/reduced,none,75,74,66
349,male,group E,associate's degree,standard,none,87,74,76
351,male,group E,some college,standard,none,66,57,52
356,male,group A,associate's degree,standard,none,63,61,61
358,male,group D,some college,free/reduced,none,59,62,61
361,male,group B,some high school,standard,completed,85,84,78
364,male,group C,some college,standard,none,59,60,58
365,male,group A,bachelor's degree,free/reduced,completed,49,58,60
366,male,group C,high school,standard,completed,69,58,53
367,male,group C,bachelor's degree,free/reduced,none,61,66,61
370,male,group E,some college,standard,none,84,77,71
372,male,group D,some high school,standard,none,74,74,72
375,male,group E,associate's degree,free/reduced,none,46,43,41
379,male,group A,bachelor's degree,standard,none,66,64,62
381,male,group C,associate's degree,standard,completed,87,100,95
382,male,group C,master's degree,free/reduced,none,79,81,71
389,male,group D,master's degree,standard,none,73,70,75
390,male,group E,some high school,free/reduced,completed,73,67,59
392,male,group E,some college,standard,none,76,67,67
393,male,group C,associate's degree,standard,completed,57,54,56
395,male,group A,high school,free/reduced,none,48,45,41
398,male,group B,some high school,standard,none,74,63,57
399,male,group D,some high school,standard,none,60,59,54
401,male,group A,some college,standard,none,53,43,43
406,male,group B,associate's degree,standard,completed,65,65,63
409,male,group D,associate's degree,standard,completed,87,84,85
411,male,group E,some college,standard,completed,84,83,78
412,male,group D,associate's degree,standard,none,71,66,60
413,male,group B,some high school,standard,completed,63,67,67
415,male,group E,high school,standard,none,84,73,69
416,male,group C,bachelor's degree,standard,completed,71,74,68
417,male,group C,associate's degree,standard,none,74,73,67
418,male,group D,some college,standard,none,68,59,62
419,male,group E,high school,free/reduced,completed,57,56,54
424,male,group B,some college,free/reduced,none,41,39,34
426,male,group C,bachelor's degree,standard,none,86,83,86
427,male,group C,some high school,free/reduced,none,69,71,65
428,male,group A,some high school,free/reduced,none,65,59,53
429,male,group C,some high school,free/reduced,none,68,63,54
430,male,group C,associate's degree,free/reduced,none,64,66,59
432,male,group C,high school,standard,none,61,56,55
434,male,group C,some high school,standard,none,73,66,66
435,male,group C,some college,free/reduced,completed,50,48,53
436,male,group D,associate's degree,standard,none,75,68,64
437,male,group D,associate's degree,free/reduced,none,75,66,73
438,male,group C,high school,standard,none,70,56,51
439,male,group D,some high school,standard,completed,89,88,82
444,male,group A,some high school,free/reduced,none,79,82,73
446,male,group D,some college,free/reduced,none,69,66,60
447,male,group C,high school,standard,completed,86,81,80
448,male,group B,high school,standard,none,47,46,42
449,male,group B,associate's degree,standard,none,81,73,72
453,male,group C,some college,free/reduced,none,65,58,49
455,male,group C,bachelor's degree,free/reduced,none,37,56,47
457,male,group D,associate's degree,free/reduced,none,53,54,48
459,male,group B,high school,standard,completed,72,65,68
460,male,group C,bachelor's degree,free/reduced,none,53,58,55
461,male,group B,some college,free/reduced,none,54,54,45
464,male,group A,bachelor's degree,standard,completed,75,58,62
467,male,group A,high school,free/reduced,completed,72,67,65
469,male,group C,some college,standard,none,91,74,76
476,male,group E,bachelor's degree,standard,completed,76,62,66
477,male,group D,associate's degree,standard,none,80,68,72
479,male,group E,associate's degree,standard,none,76,71,67
480,male,group B,high school,standard,completed,73,71,68
482,male,group C,some college,free/reduced,none,68,68,61
483,male,group A,high school,standard,none,59,52,46
485,male,group C,high school,standard,none,70,74,71
486,male,group D,some college,free/reduced,none,61,47,56
488,male,group B,some high school,standard,completed,64,53,57
489,male,group A,associate's degree,free/reduced,completed,79,82,82
495,male,group D,high school,standard,completed,68,64,66
499,male,group E,some college,standard,none,76,71,72
502,male,group C,some college,free/reduced,none,63,61,54
506,male,group A,high school,standard,none,68,70,66
507,male,group B,bachelor's degree,free/reduced,none,55,59,54
508,male,group C,master's degree,standard,none,79,78,77
510,male,group D,some college,standard,none,76,71,73
511,male,group A,some high school,standard,none,64,50,43
512,male,group D,some high school,free/reduced,none,62,49,52
520,male,group D,some college,standard,none,71,49,52
522,male,group D,bachelor's degree,standard,none,69,58,57
523,male,group C,master's degree,free/reduced,none,54,59,50
524,male,group C,high school,standard,completed,53,52,49
525,male,group E,some college,standard,none,68,60,59
526,male,group C,some high school,free/reduced,completed,56,61,60
532,male,group E,associate's degree,standard,completed,62,61,58
534,male,group B,high school,standard,completed,73,69,68
536,male,group C,associate's degree,standard,completed,51,60,58
538,male,group E,bachelor's degree,standard,completed,85,66,71
539,male,group A,associate's degree,standard,completed,97,92,86
540,male,group C,high school,standard,completed,75,69,68
541,male,group D,associate's degree,free/reduced,completed,79,82,80
545,male,group E,some high school,free/reduced,completed,78,83,80
547,male,group C,high school,standard,completed,72,67,64
549,male,group C,master's degree,standard,none,79,72,69
550,male,group C,some high school,free/reduced,none,79,76,65
551,male,group B,bachelor's degree,free/reduced,completed,87,90,88
553,male,group D,some college,free/reduced,none,77,62,64
554,male,group E,associate's degree,standard,none,53,45,40
557,male,group C,master's degree,free/reduced,none,61,67,66
559,male,group D,some high school,standard,none,73,66,62
562,male,group C,bachelor's degree,standard,completed,96,90,92
564,male,group B,bachelor's degree,free/reduced,none,48,51,46
565,male,group B,associate's degree,standard,none,48,43,45
568,male,group B,high school,free/reduced,none,63,48,47
569,male,group D,bachelor's degree,free/reduced,none,68,68,67
570,male,group B,some college,standard,completed,71,75,70
571,male,group A,bachelor's degree,standard,none,91,96,92
575,male,group A,associate's degree,free/reduced,completed,40,55,53
576,male,group A,some college,standard,completed,61,51,52
590,male,group C,some college,free/reduced,none,58,57,54
591,male,group A,some high school,standard,none,71,62,50
592,male,group E,bachelor's degree,standard,none,68,68,64
596,male,group B,high school,free/reduced,none,30,24,15
597,male,group A,some high school,standard,none,53,54,48
603,male,group D,high school,free/reduced,none,60,57,51
604,male,group D,master's degree,free/reduced,completed,84,89,90
605,male,group C,some high school,standard,none,75,72,62
610,male,group D,some college,free/reduced,completed,69,60,63
612,male,group C,bachelor's degree,standard,completed,94,90,91
617,male,group D,bachelor's degree,standard,none,88,78,83
618,male,group D,master's degree,standard,none,95,81,84
619,male,group C,associate's degree,free/reduced,completed,65,73,68
621,male,group B,bachelor's degree,free/reduced,none,62,63,56
622,male,group C,high school,free/reduced,completed,58,51,52
623,male,group A,some college,standard,completed,100,96,86
625,male,group D,some college,standard,completed,100,97,99
626,male,group B,associate's degree,free/reduced,completed,69,70,63
627,male,group D,associate's degree,standard,none,61,48,46
628,male,group D,some college,free/reduced,none,49,57,46
630,male,group D,some college,standard,none,67,64,70
631,male,group B,high school,standard,none,79,60,65
634,male,group D,some high school,standard,none,84,84,80
635,male,group A,high school,standard,none,71,74,64
638,male,group E,some college,standard,none,86,76,74
640,male,group D,high school,standard,none,41,52,51
644,male,group B,high school,standard,none,70,65,60
650,male,group C,some high school,free/reduced,completed,51,56,53
656,male,group C,associate's degree,free/reduced,none,77,67,64
657,male,group D,some high school,standard,none,69,66,61
659,male,group D,associate's degree,standard,none,90,87,85
660,male,group C,some college,free/reduced,none,74,77,73
661,male,group C,some high school,standard,none,73,66,63
664,male,group D,associate's degree,standard,none,80,63,63
668,male,group C,some college,standard,none,73,74,61
669,male,group D,associate's degree,standard,completed,81,72,77
671,male,group D,associate's degree,free/reduced,none,52,57,50
678,male,group D,associate's degree,free/reduced,none,81,75,78
679,male,group D,some college,free/reduced,none,63,61,60
681,male,group B,high school,standard,none,60,68,60
682,male,group B,high school,standard,none,62,55,54
684,male,group B,some college,standard,completed,62,66,68
686,male,group E,some college,standard,completed,85,75,68
687,male,group D,associate's degree,free/reduced,none,77,78,73
688,male,group A,high school,free/reduced,none,53,58,44
689,male,group E,some college,free/reduced,none,93,90,83

In [219]:
df_exams[['gender' , 'math score']]

     gender  math score
0    female          72
1    female          69
2    female          90
3      male          47
4      male          76
5    female          71
6    female          88
7      male          40
8      male          64
9    female          38
10     male          58
11     male          40
12   female          65
13     male          78
14   female          50
15   female          69
16     male          88
17   female          18
18     male          46
19   female          54
20     male          66
21   female          65
22     male          44
23   female          69
24     male          74
25     male          73
26     male          69
27   female          67
28     male          70
29   female          62
30   female          69
31   female          63
32   female          56
33     male          40
34     male          97
35     male          81
36   female          74
37   female          50
38   female          75
39     male          57
40     male          55
41   female          58
42   female          53
43     male          59
44   female          50
45     male          65
46   female          55
47   female          66
48   female          57
49     male          82
50     male          53
51     male          77
52     male          53
53     male          88
54   female          71
55   female          33
56   female          82
57     male          52
58     male          58
59   female           0
60     male          79
61     male          39
62     male          62
63   female          69
64   female          59
65     male          67
66     male          45
67   female          60
68     male          61
69   female          39
70   female          58
71     male          63
72   female          41
73     male          61
74     male          49
75     male          44
76     male          30
77     male          80
78   female          61
79   female          62
80   female          47
81     male          49
82     male          50
83     male          72
84     male          42
85   female          73
86   female          76
87   female          71
88   female          58
89   female          73
90   female          65
91     male          27
92     male          71
93     male          43
94   female          79
95     male          78
96     male          65
97   female          63
98   female          58
99   female          65
100    male          79
101    male          68
102  female          85
103    male          60
104    male          98
105  female          58
106  female          87
107    male          66
108  female          52
109  female          70
110  female          77
111    male          62
112    male          54
113  female          51
114  female          99
115    male          84
116  female          75
117  female          78
118  female          51
119  female          55
120  female          79
121    male          91
122  female          88
123    male          63
124    male          83
125  female          87
126    male          72
127    male          65
128    male          82
129  female          51
130    male          89
131    male          53
132    male          87
133  female          75
134    male          74
135    male          58
136    male          51
137    male          70
138  female          59
139    male          71
140  female          76
141  female          59
142  female          42
143    male          57
144    male          88
145  female          22
146    male          88
147    male          73
148  female          68
149    male         100
150    male          62
151    male          77
152  female          59
153    male          54
154    male          62
155  female          70
156  female          66
157    male          60
158  female          61
159    male          66
160    male          82
161  female          75
162    male          49
163    male          52
164  female          81
165  female          96
166    male          53
167  female          58
168  female          68
169  female          67
170    male          72
171    male          94
172  female          79
173  female          63
174  female          43
175  female          81
176  female          46
177  female          71
178  female          52
179  female          97
180    male          62
181  female          46
182  female          50
183  female          65
184    male          45
185    male          65
186    male          80
187    male          62
188    male          48
189  female          77
190  female          66
191    male          76
192  female          62
193    male          77
194  female          69
195    male          61
196    male          59
197    male          55
198  female          45
199  female          78
200  female          67
201  female          65
202    male          69
203  female          57
204    male          59
205    male          74
206    male          82
207    male          81
208  female          74
209  female          58
210    male          80
211    male          35
212  female          42
213    male          60
214    male          87
215    male          84
216  female          83
217  female          34
218    male          66
219    male          61
220  female          56
221    male          87
222  female          55
223    male          86
224  female          52
225  female          45
226  female          72
227    male          57
228    male          68
229  female          88
230    male          76
231    male          46
232  female          67
233    male          92
234    male          83
235    male          80
236    male          63
237  female          64
238    male          54
239    male          84
240    male          73
241  female          80
242  female          56
243    male          59
244    male          75
245    male          85
246    male          89
247  female          58
248  female          65
249    male          68
250    male          47
251  female          71
252  female          60
253    male          80
254    male          54
255  female          62
256  female          64
257    male          78
258  female          70
259  female          65
260  female          64
261    male          79
262  female          44
263  female          99
264    male          76
265    male          59
266  female          63
267  female          69
268  female          88
269  female          71
270    male          69
271    male          58
272  female          47
273  female          65
274    male          88
275    male          83
276  female          85
277  female          59
278  female          65
279    male          73
280    male          53
281    male          45
282  female          73
283  female          70
284  female          37
285    male          81
286    male          97
287  female          67
288    male          88
289    male          77
290    male          76
291    male          86
292    male          63
293  female          65
294    male          78
295    male          67
296    male          46
297    male          71
298    male          40
299    male          90
300    male          81
301    male          56
302  female          67
303    male          80
304  female          74
305    male          69
306    male          99
307    male          51
308  female          53
309  female          49
310  female          73
311    male          66
312    male          67
313  female          68
314  female          59
315    male          71
316  female          77
317    male          83
318    male          63
319  female          56
320  female          67
321  female          75
322  female          71
323  female          43
324  female          41
325  female          82
326    male          61
327    male          28
328    male          82
329  female          41
330    male          71
331    male          47
332    male          62
333    male          90
334  female          83
335  female          61
336    male          76
337    male          49
338  female          24
339  female          35
340    male          58
341  female          61
342  female          69
343    male          67
344    male          79
345  female          72
346    male          62
347  female          77
348    male          75
349    male          87
350  female          52
351    male          66
352  female          63
353  female          46
354  female          59
355  female          61
356    male          63
357  female          42
358    male          59
359  female          80
360  female          58
361    male          85
362  female          52
363  female          27
364    male          59
365    male          49
366    male          69
367    male          61
368  female          44
369  female          73
370    male          84
371  female          45
372    male          74
373  female          82
374  female          59
375    male          46
376  female          80
377  female          85
378  female          71
379    male          66
380  female          80
381    male          87
382    male          79
383  female          38
384  female          38
385  female          67
386  female          64
387  female          57
388  female          62
389    male          73
390    male          73
391  female          77
392    male          76
393    male          57
394  female          65
395    male          48
396  female          50
397  female          85
398    male          74
399    male          60
400  female          59
401    male          53
402  female          49
403  female          88
404  female          54
405  female          63
406    male          65
407  female          82
408  female          52
409    male          87
410  female          70
411    male          84
412    male          71
413    male          63
414  female          51
415    male          84
416    male          71
417    male          74
418    male          68
419    male          57
420  female          82
421  female          57
422  female          47
423  female          59
424    male          41
425  female          62
426    male          86
427    male          69
428    male          65
429    male          68
430    male          64
431  female          61
432    male          61
433  female          47
434    male          73
435    male          50
436    male          75
437    male          75
438    male          70
439    male          89
440  female          67
441  female          78
442  female          59
443  female          73
444    male          79
445  female          67
446    male          69
447    male          86
448    male          47
449    male          81
450  female          64
451  female         100
452  female          65
453    male          65
454  female          53
455    male          37
456  female          79
457    male          53
458  female         100
459    male          72
460    male          53
461    male          54
462  female          71
463  female          77
464    male          75
465  female          84
466  female          26
467    male          72
468  female          77
469    male          91
470  female          83
471  female          63
472  female          68
473  female          59
474  female          90
475  female          71
476    male          76
477    male          80
478  female          55
479    male          76
480    male          73
481  female          52
482    male          68
483    male          59
484  female          49
485    male          70
486    male          61
487  female          60
488    male          64
489    male          79
490  female          65
491  female          64
492  female          83
493  female          81
494  female          54
495    male          68
496  female          54
497  female          59
498  female          66
499    male          76
500  female          74
501  female          94
502    male          63
503  female          95
504  female          40
505  female          82
506    male          68
507    male          55
508    male          79
509  female          86
510    male          76
511    male          64
512    male          62
513  female          54
514  female          77
515  female          76
516  female          74
517  female          66
518  female          66
519  female          67
520    male          71
521  female          91
522    male          69
523    male          54
524    male          53
525    male          68
526    male          56
527  female          36
528  female          29
529  female          62
530  female          68
531  female          47
532    male          62
533  female          79
534    male          73
535  female          66
536    male          51
537  female          51
538    male          85
539    male          97
540    male          75
541    male          79
542  female          81
543  female          82
544  female          64
545    male          78
546  female          92
547    male          72
548  female          62
549    male          79
550    male          79
551    male          87
552  female          40
553    male          77
554    male          53
555  female          32
556  female          55
557    male          61
558  female          53
559    male          73
560  female          74
561  female          63
562    male          96
563  female          63
564    male          48
565    male          48
566  female          92
567  female          61
568    male          63
569    male          68
570    male          71
571    male          91
572  female          53
573  female          50
574  female          74
575    male          40
576    male          61
577  female          81
578  female          48
579  female          53
580  female          81
581  female          77
582  female          63
583  female          73
584  female          69
585  female          65
586  female          55
587  female          44
588  female          54
589  female          48
590    male          58
591    male          71
592    male          68
593  female          74
594  female          92
595  female          56
596    male          30
597    male          53
598  female          69
599  female          65
600  female          54
601  female          29
602  female          76
603    male          60
604    male          84
605    male          75
606  female          85
607  female          40
608  female          61
609  female          58
610    male          69
611  female          58
612    male          94
613  female          65
614  female          82
615  female          60
616  female          37
617    male          88
618    male          95
619    male          65
620  female          35
621    male          62
622    male          58
623    male         100
624  female          61
625    male         100
626    male          69
627    male          61
628    male          49
629  female          44
630    male          67
631    male          79
632  female          66
633  female          75
634    male          84
635    male          71
636  female          67
637  female          80
638    male          86
639  female          76
640    male          41
641  female          74
642  female          72
643  female          74
644    male          70
645  female          65
646  female          59
647  female          64
648  female          50
649  female          69
650    male          51
651  female          68
652  female          85
653  female          65
654  female          73
655  female          62
656    male          77
657    male          69
658  female          43
659    male          90
660    male          74
661    male          73
662  female          55
663  female          65
664    male          80
665  female          50
666  female          63
667  female          77
668    male          73
669    male          81
670  female          66
671    male          52
672  female          69
673  female          65
674  female          69
675  female          50
676  female          73
677  female          70
678    male          81
679    male          63
680  female          67
681    male          60
682    male          62
683  female          29
684    male          62
685  female          94
686    male          85
687    male          77
688    male          53
689    male          93
690  female          49
691  female          73
692  female          66
693  female          77
694  female          49
695  female          79
696  female          75
697  female          59
698  female          57
699    male          66
700  female          79
701  female          57
702    male          87
703  female          63
704  female          59
705    male          62
706    male          46
707    male          66
708    male          89
709  female          42
710    male          93
711  female          80
712  female          98
713    male          81
714  female          60
715  female          76
716    male          73
717  female          96
718  female          76
719    male          91
720  female          62
721    male          55
722  female          74
723    male          50
724    male          47
725    male          81
726  female          65
727    male          68
728  female          73
729    male          53
730  female          68
731    male          55
732  female          87
733    male          55
734  female          53
735    male          67
736    male          92
737  female          53
738    male          81
739    male          61
740    male          80
741  female          37
742  female          81
743  female          59
744    male          55
745    male          72
746    male          69
747    male          69
748  female          50
749    male          87
750    male          71
751    male          68
752    male          79
753  female          77
754    male          58
755  female          84
756    male          55
757    male          70
758  female          52
759    male          69
760  female          53
761  female          48
762    male          78
763  female          62
764    male          60
765  female          74
766  female          58
767    male          76
768  female          68
769    male          58
770    male          52
771    male          75
772  female          52
773  female          62
774    male          66
775  female          49
776  female          66
777  female          35
778  female          72
779    male          94
780  female          46
781  female          77
782  female          76
783  female          52
784    male          91
785  female          32
786  female          72
787  female          19
788    male          68
789  female          52
790  female          48
791  female          60
792    male          66
793    male          89
794  female          42
795  female          57
796    male          70
797  female          70
798    male          69
799  female          52
800    male          67
801    male          76
802  female          87
803  female          82
804  female          73
805    male          75
806  female          64
807  female          41
808    male          90
809    male          59
810    male          51
811    male          45
812  female          54
813    male          87
814  female          72
815    male          94
816  female          45
817    male          61
818  female          60
819  female          77
820  female          85
821  female          78
822    male          49
823  female          71
824  female          48
825    male          62
826  female          56
827  female          65
828  female          69
829    male          68
830  female          61
831  female          74

In [220]:
type(df_exams[['gender' , 'math score']])

pandas.core.frame.DataFrame