<a href="https://colab.research.google.com/github/Subhas333/Project-1/blob/main/project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df_pre21 = pd.read_csv('https://www.football-data.co.uk/mnz4281/2122/E0.csv')

In [3]:
df_pre21

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [4]:
#rename column
df_pre21.rename(columns={'FTHG':'home_goals', 'FTAG':'away_goals'}, inplace=True)

In [5]:
df_pre21

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

# multiple links
1.   https://www.football-data.co.uk/mnz4281/2122/E0.csv
2.   https://www.football-data.co.uk/mnz4281/2122/E2.csv
3.   https://www.football-data.co.uk/mnz4281/2122/E3.csv
4.   https://www.football-data.co.uk/mnz4281/2122/E1.csv

In [6]:
# create list of leagues
leagues = ['E0', 'E2', 'E3', 'E1' ]
frame=[]
for league in leagues:
    df = pd.read_csv(f'https://www.football-data.co.uk/mnz4281/2122/{league}.csv')
    frame.append(df)

In [7]:
len(frame)

4

In [8]:
frame[0]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [9]:
root = "https://www.football-data.co.uk/mnz4281"

##looping through leagues and read multiple csv and append it into list

In [10]:
for league in leagues:
  for season in range(15,21):
    df = pd.read_csv(f'{root}/{season}{season+1}/{league}.csv')
    frame.append(df)

In [11]:
frame[3]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E1,06/08/2021,19:45,Bournemouth,West Brom,2,2,D,1,1,...,1.84,-0.25,2.13,1.78,2.13,1.80,2.16,1.83,2.09,1.77
1,E1,07/08/2021,15:00,Blackburn,Swansea,2,1,H,1,0,...,1.70,-0.25,1.77,2.14,1.83,2.09,1.87,2.17,1.81,2.04
2,E1,07/08/2021,15:00,Bristol City,Blackpool,1,1,D,1,0,...,1.66,-0.25,1.90,2.00,1.92,1.99,1.92,2.01,1.89,1.95
3,E1,07/08/2021,15:00,Cardiff,Barnsley,1,1,D,0,0,...,1.62,-0.25,2.05,1.75,2.14,1.80,2.19,1.80,2.11,1.75
4,E1,07/08/2021,15:00,Derby,Huddersfield,1,1,D,1,1,...,1.60,-0.25,1.88,2.02,1.88,2.01,1.90,2.07,1.87,1.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,07/05/2022,12:30,Preston,Middlesbrough,4,1,H,2,0,...,2.15,0.75,1.84,2.06,1.88,2.03,2.00,2.09,1.89,1.96
548,E1,07/05/2022,12:30,Sheffield United,Fulham,4,0,H,3,0,...,2.09,-0.25,1.75,2.05,1.79,2.12,1.85,2.13,1.81,2.03
549,E1,07/05/2022,12:30,Stoke,Coventry,1,1,D,1,1,...,2.15,-0.25,1.91,1.99,1.95,1.95,1.95,2.01,1.90,1.95
550,E1,07/05/2022,12:30,Swansea,QPR,0,1,A,0,0,...,2.71,-0.50,1.92,1.98,1.94,1.96,2.00,1.99,1.95,1.90
551,E1,07/05/2022,12:30,West Brom,Barnsley,4,0,H,2,0,...,2.67,-1.75,1.88,2.02,1.91,1.98,1.99,2.06,1.90,1.95

# organizing all data in a dictionary

In [14]:
dict_count={'spanish la liga':'sp1','spanish segunda dvision':'sp2','german bundesliga':'D1',
            'English Premier Legue':'E0','English League 1':'E1','English League 2':'E2'}

In [16]:
dict_count['spanish la liga']

'sp1'

In [17]:
for league in dict_count:
  print(league)

spanish la liga
spanish segunda dvision
german bundesliga
English Premier Legue
English League 1
English League 2